// Blue
// -------------------------

//Defaults

$blue:             		#0066FF !default;
$blueDark:         		#003D99 !default;
$blueDarker:       		#002966 !default;
$blueLight:        		#4D94FF !default;
$blueLighter:      		#80B2FF !default;
$blueDull:         		#0066CC !default;
$blueDuller:       		#336699 !default;
$blueBright:       		#3399FF !default;
$blueBrighter:     		#70B8FF !default;


//Variations

$blueAirforce:        	#5d8aa8 !default;
$blueAzure:        		#007fff !default;
$blueBaby:        		#89cff0 !default;
$blueFrench:        	#318ce7 !default;
$blueCeleste:        	#b2ffff !default;
$blueColumbia:        	#75b2dd !default;
$blueSky:        		#73c2fb !default;
$blueMidnight:        	#191970 !default;
$blueNavy:        		#000080 !default;
$blueRoyal:        		#4169e1 !default;
$blueSapphire:        	#0f52ba !default;
$blueSteel:        		#4682b4 !default;