// Oranges
// -------------------------

$orange:               	#FF6600 !default;
$orangeDark:            #993D00 !default;
$orangeDarker:          #4C1F00 !default;
$orangeLight:           #FF944D !default;
$orangeLighter:         #FFC299 !default;
$orangeDull:           	#C96B2C !default;
$orangeDuller:         	#A16740 !default;
$orangeBright:          #FF9933 !default;