
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #778da8;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #778da8;
}

body{
  background-color:$whiteAntiflash;
}

header{
	margin-top:80px;
	text-align:center;
	h1{
		font-size:100px;
		letter-spacing: -10px;
    margin-left:80px;
		i{
			font-family: $serifFontFamily;
			font-weight: 100;
			opacity: 0.7;
		}
	}
	p{
		font-size: 34px;
		margin-top: 15px;
		font-weight: bold;
		opacity: 0.4;
	}
  span{
    font-size: 15px;
    letter-spacing: 0;
    font-weight: normal;
    margin-left: 10px;
  }
}

hr{
	border: 1px solid #ddd;
  margin: 10px 0;
}

.slogan{
	margin-top:-5px;
	margin-bottom:20px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position:static;
}

.bs-docs-sidenav, .content {
  margin-top:10px;
}

.btn{
  border:none;
  text-shadow:none;
  @include gradient-vertical($grayLighter, $grayLighter);
  &:hover{
    background-position:0% 0%;
    @include gradient-vertical($grayLight, $grayLight);
    color:$white;
  }
}

.btn-pink{
    @include gradient-vertical($pinkDark, $pinkDark);
    color: $white;
    @include transition(.3s);
    &:hover{
      @include gradient-vertical($pinkDarker, $pinkDarker);
      color: $white;
    }
}

.btn-primary{
    @include gradient-vertical($blueDark, $blueDark);
    @include transition(.3s);
    &:hover{
      @include gradient-vertical($blueDarker, $blueDarker);
      color: $white;
    }
}

.dl-links{
  margin-bottom: 25px;
  a{
    margin-right:10px;
    padding-bottom:10px;
  }
}


.usage{
  h1:first-child{
    margin-top:30px;
  }
  p{
    font-size: 17px;
    line-height: 26px;
  }
  .space{
    margin-bottom: 40px;
    margin-top: 16px;
  }
}

.twitter-share-button{
  float:right;
}

.whell{
  margin-left:35px;
}

footer{
  padding-bottom: 30px;
}


// Sidebar
// --------------------------------------------------

.bs-docs-sidenav {
	width: 140px;
	margin-left: -10px;
	li{
		a{
			display: block;
			color:$grayDark;
			margin: 0 0 -1px;
			padding: 8px 14px;
			border: 1px solid #E5E5E5;
			i{
				float:right;
				opacity:0.5;
			}
		}
	}
}
// Colour Wheel
// --------------------------------------------------

 .colourWheel {
      background-color: $purple;
      position: relative;
      margin-top: -25px;
      margin-left: -30px;
      width: 100px;
      height: 100px;
      @include border-radius(50px); 
 }

     .colour {
		position: absolute;
		width: 100px;
		height: 100px;
		@include border-radius(50px);
		clip: rect(0px, 50px, 100px, 0px);
     }
     .hold {
		position: absolute;
		width: 100px;
		height: 100px;
		clip: rect(0px, 100px, 100px, 50px);
     }

     #red .colour {
		background-color: $redLight;
		@include rotate(50deg);
     }

     #orange {
      	@include rotate(50deg);
     }

     #orange .colour {
		background-color: $orange;
		@include rotate(50deg);
     }
     #yellow {
          @include rotate(100deg);
     }

     #yellow .colour {
          background-color: $yellow;
          @include rotate(50deg);
     }
     #green {
          @include rotate(150deg);
     }

     #green .colour {
          background-color: $green;
          @include rotate(50deg);
     }
     #blue {
          @include rotate(200deg);
     }

     #blue .colour {
          background-color: $blue;
          @include rotate(50deg);
     }
     #indigo {
          @include rotate(250deg);
     }

     #indigo .colour {
          background-color: $blueDark;
          @include rotate(50deg);
     }
     #center{
     	height:50px;
     	width:50px;
     	@include border-radius(30px);
     	background-color: $whiteAntiflash;
     	position: absolute;
		  z-index: 1;
      margin-top: 26px;
      margin-left: -4px;
     }


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 code, pre {
  font-size: 17px;
 }


code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; 
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}


.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}