

body{
  background-color:$whiteAntiflash
}

header{
	margin-top:90px;
	text-align:center;
	h1{
		font-size:100px;
		i{
			font-family: $serifFontFamily;
		}
	}
	p{
		font-size: 22px;
		margin-top: 15px;
	}
}

hr{
	border: 1px solid #ddd;
}