
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #778da8;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #778da8;
}

body{
  background-color:$whiteAntiflash;
}

header{
	margin-top:80px;
	text-align:center;
	h1{
		font-size:100px;
		letter-spacing: -10px;
		i{
			font-family: $serifFontFamily;
			font-weight: 100;
			opacity: 0.7;
		}
	}
	p{
		font-size: 34px;
		margin-top: 15px;
		font-weight: bold;
		opacity: 0.4;
	}
}

hr{
	border: 1px solid #ddd;
  margin: 10px 0;
}

.slogan{
	margin-top:12px;
	margin-bottom:20px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position:static;
}

.bs-docs-sidenav, .content {
  margin-top:10px;
}

.btn{
  border:none;
  text-shadow:none;
}

.btn-pink{
    @include gradient-vertical($pinkDark, $pinkDark);
    color: $white;
    @include transition(.3s);
    &:hover{
      @include gradient-vertical($pinkDarker, $pinkDarker);
      color: $white;
    }
}

.btn-primary{
    @include gradient-vertical($blueDark, $blueDark);
    @include transition(.3s);
    &:hover{
      @include gradient-vertical($blueDarker, $blueDarker);
      color: $white;
    }
}

.dl-links{
  a{
    margin-right:10px;
    padding-bottom:10px;
  }
}

// Sidebar
// --------------------------------------------------

.bs-docs-sidenav {
	width: 140px;
	margin-left: -10px;
	li{
		a{
			display: block;
			color:$grayDark;
			margin: 0 0 -1px;
			padding: 8px 14px;
			border: 1px solid #E5E5E5;
			i{
				float:right;
				opacity:0.5;
			}
		}
	}
}

// Colour Wheel
// --------------------------------------------------

 .colourWheel {
      background-color: $purple;
      position: relative;
      margin-top: -25px;
      margin-left: -30px;
      width: 100px;
      height: 100px;
      @include border-radius(50px); 
 }

     .colour {
		position: absolute;
		width: 100px;
		height: 100px;
		@include border-radius(50px);
		clip: rect(0px, 50px, 100px, 0px);
     }
     .hold {
		position: absolute;
		width: 100px;
		height: 100px;
		clip: rect(0px, 100px, 100px, 50px);
     }

     #red .colour {
		background-color: $redLight;
		@include rotate(50deg);
     }

     #orange {
      	@include rotate(50deg);
     }

     #orange .colour {
		background-color: $orange;
		@include rotate(50deg);
     }
     #yellow {
          @include rotate(100deg);
     }

     #yellow .colour {
          background-color: $yellow;
          @include rotate(50deg);
     }
     #green {
          @include rotate(150deg);
     }

     #green .colour {
          background-color: $green;
          @include rotate(50deg);
     }
     #blue {
          @include rotate(200deg);
     }

     #blue .colour {
          background-color: $blue;
          @include rotate(50deg);
     }
     #indigo {
          @include rotate(250deg);
     }

     #indigo .colour {
          background-color: $blueDark;
          @include rotate(50deg);
     }
     #center{
     	height:50px;
     	width:50px;
     	@include border-radius(30px);
     	background-color: $whiteAntiflash;
     	position: absolute;
		z-index: 1;
		margin-left: -4px;
		margin-top: 1px;
     }
