/*!
 * Default Colours
 */


// Red
// -------------------------

$red:                 	#D42C2C !default;
$redDark:              	#7A0000 !default;
$redDarker:            	#3D0000 !default;
$redLight:              #DB4D4D !default;
$redLighter:            #F0B2B2 !default;
$redDull:            	#993333 !default;
$redDuller:            	#824D4D !default;
$redBright:            	#FF0000 !default;
$redBrighter:           #FF6E6E !default;

// Peach
// -------------------------

$peach:                	#FF5050 !default;
$peachDark:            	#993030 !default;
$peachDarker:          	#4C1818 !default;
$peachLight:            #FF9696 !default;
$peachLighter:          #FFCACA !default;
$peachDull:           	#D67272 !default;
$peachDuller:         	#BA8C8C !default;
$peachBright:          	#FF9C9C !default;
$peachBrighter:        	#FFBFBF !default;

// Tan
// -------------------------

$tan:                	#FFCC99 !default;
$tanDark:            	#997A5C !default;
$tanDarker:          	#4C3D2E !default;
$tanLight:            	#FFD6AD !default;
$tanLighter:          	#FFE0C2 !default;
$tanDull:           	#C7925D !default;
$tanDuller:         	#A67544 !default;
$tanBright:           	#FF9966 !default;
$tanBrighter:        	#FFC2A3 !default;

// Orange
// -------------------------

$orange:               	#FF6600 !default;
$orangeDark:            #993D00 !default;
$orangeDarker:          #4C1F00 !default;
$orangeLight:           #FF944D !default;
$orangeLighter:         #FFC299 !default;
$orangeDull:           	#C96B2C !default;
$orangeDuller:         	#A16740 !default;
$orangeBright:          #FF9933 !default;

// Amber
// -------------------------

$amber:               	#FF9900 !default;
$amberDark:            	#995C00 !default;
$amberDarker:          	#4C2E00 !default;
$amberLight:           	#FFC266 !default;
$amberLighter:         	#FFD699 !default;
$amberDull:           	#D68E22 !default;
$amberDuller:         	#B38642 !default;
$amberBright:           #FFB84D !default;
$amberBrighter:        	#FFD391 !default;

// Yellow
// -------------------------

$yellow:               	#FFCC00 !default;
$yellowDark:            #806600 !default;
$yellowDarker:          #332900 !default;
$yellowLight:           #FFDB4D !default;
$yellowLighter:         #FFEB99 !default;
$yellowDull:           	#CFB036 !default;
$yellowDuller:         	#B39F52 !default;
$yellowBright:         	#FFFF00 !default;
$yellowBrighter:        #FFFF66 !default;

// Lime
// -------------------------

$lime:               	#B8E62E !default;
$limeDark:            	#7A991F !default;
$limeDarker:          	#3D4C0F !default;
$limeLight:           	#D6FF5C !default;
$limeLighter:         	#E0FF85 !default;
$limeDull:           	#A6C44B !default;
$limeDuller:         	#94A856 !default;
$limeBright:         	#BFFF00 !default;
$limeBrighter:        	#D7FF5E !default;

// Green
// -------------------------

$green:               	#33CC33 !default;
$greenDark:            	#1F7A1F !default;
$greenDarker:          	#0F3D0F !default;
$greenLight:           	#5CD65C !default;
$greenLighter:         	#85E085 !default;
$greenDull:           	#009933 !default;
$greenDuller:         	#428057 !default;
$greenBright:         	#66FF33 !default;
$greenBrighter:        	#99FF66 !default;

// Turquoise
// -------------------------

$turquoise:             #48E8C8 !default;
$turquoiseDark:         #00997A !default;
$turquoiseDarker:       #006652 !default;
$turquoiseLight:        #6BE8CF !default;
$turquoiseLighter:      #8EE8D6 !default;
$turquoiseDull:         #52CCB4 !default;
$turquoiseDuller:       #69B8A8 !default;
$turquoiseBright:       #00FFCC !default;
$turquoiseBrighter:     #80FFE6 !default;

// Blue
// -------------------------

$blue:             		#48E8C8 !default;
$blueDark:         		#00997A !default;
$blueDarker:       		#006652 !default;
$blueLight:        		#6BE8CF !default;
$blueLighter:      		#8EE8D6 !default;
$blueDull:         		#52CCB4 !default;
$blueDuller:       		#69B8A8 !default;
$blueBright:       		#00FFCC !default;
$blueBrighter:     		#80FFE6 !default;

// Purple
// -------------------------

$purple:             	#9966FF !default;
$purpleDark:         	#5C3D99 !default;
$purpleDarker:       	#2E1F4C !default;
$purpleLight:        	#AD85FF !default;
$purpleLighter:      	#C2A3FF !default;
$purpleDull:         	#957BC7 !default;
$purpleDuller:       	#9589AD !default;
$purpleBright:       	#9933FF !default;
$purpleBrighter:     	#AD5CFF !default;

// Pink
// -------------------------

$pink:             		#FF33CC !default;
$pinkDark:         		#B2248F !default;
$pinkDarker:       		#661452 !default;
$pinkLight:        		#FF5CD6 !default;
$pinkLighter:      		#FF85E0 !default;
$pinkDull:         		#CC3399 !default;
$pinkDuller:       		#993366 !default;
$pinkBright:       		#FF66CC !default;
$pinkBrighter:     		#FF99CC !default;

// Brown
// -------------------------

$brown:             	#663300 !default;
$brownDark:         	#472400 !default;
$brownDarker:       	#331A00 !default;
$brownLight:        	#754719 !default;
$brownLighter:      	#855C33 !default;
$brownDull:         	#664728 !default;
$brownDuller:       	#5E4C3A !default;
$brownBright:       	#993300 !default;
$brownBrighter:     	#A34719 !default;