/*!
 *
 * Color Me SASS v1.0
 * Built and Designed by Richard Bray
 *
 */

	@import "reds";
	@import "peaches";
	@import "tans";
	@import "oranges";
	@import "ambers";
	@import "yellows";
	@import "limes";
	@import "greens";
	@import "turquoise";
	@import "blues";
	@import "purples";
	@import "pinks";
	@import "browns";
	@import "whites";
	@import "grays";

	@import "bootstrap"; //Colour varialbles from twitter bootstrap