// Purples
// -------------------------


//Defaults

$purple:             	#9966FF !default;
$purpleDark:         	#5C3D99 !default;
$purpleDarker:       	#2E1F4C !default;
$purpleLight:        	#AD85FF !default;
$purpleLighter:      	#C2A3FF !default;
$purpleDull:         	#957BC7 !default;
$purpleDuller:       	#9589AD !default;
$purpleBright:       	#9933FF !default;
$purpleBrighter:     	#AD5CFF !default;

//Variations

$purpleAmethyst:        #9966cc !default;
$purpleCerise:        	#de3163 !default;
$purpleFandango:        #b53389 !default;
$purpleHeliotrope:      #df73ff !default;
$purpleLavendar:       	#b57edc !default;
$purpleMagenta:        	#ff0090 !default;
$purpleOrchid:        	#da70d6 !default;
$purplePlum:        	#8e4585 !default;