// Tans
// -------------------------

$tan:                	#FFCC99 !default;
$tanDark:            	#997A5C !default;
$tanDarker:          	#4C3D2E !default;
$tanLight:            	#FFD6AD !default;
$tanLighter:          	#FFE0C2 !default;
$tanDull:           	#C7925D !default;
$tanDuller:         	#A67544 !default;
$tanBright:           	#FF9966 !default;
$tanBrighter:        	#FFC2A3 !default;