/*!
 * Variations
 */


// White
// -------------------------

$whiteAntiflash:        #f2f3f4 !default;
$whiteAntique:          #faebd7 !default;
$whiteBeige:           	#f5f5dc !default;
$whiteBlond:            #faf0be !default;
$whiteCornsilk:         #fff8dc !default;
$whiteCosmic:           #fff8e7 !default;
$whiteCream:            #fffdd0 !default;
$whiteEggshell:         #f0ead6 !default;
$whiteFloral:           #fffaf0 !default;
$whiteHoneydew:         #f0fff0 !default;
$whiteIsabelline:       #f4f0ec !default;
$whiteNavajo:           #ffdead !default;
$whitePearl:           	#eae0c8 !default;
$whiteVanilla:          #f3e5ab !default;
$whiteSmoke:           	#f5f5f5 !default;

// Pink
// -------------------------

$pinkAmaranth:        	#e52b50 !default;
$pinkBrink:        		#fb607f !default;
$pinkCarmine:        	#960018 !default;
$pinkCarnation:        	#ffa6c9 !default;
$pinkCerise:        	#de3163 !default;
$pinkCoral:        		#f88379 !default;
$pinkDeep:        		#ff1493 !default;
$pinkFandago:        	#b53389 !default;
$pinkRose:        		#f64a8a !default;
$pinkFuchsia:        	#ff00ff !default;
$pinkHot:        		#ff69b4 !default;
$pinkMagenta:        	#ff0090 !default;
$pinkRuby:        		#e0115f !default;
$pinkSalmon:        	#ff91a4 !default;

// Red
// -------------------------

$redAuburn:        		#a52a2a !default;
$redBurgundy:        	#9f1d35 !default;
$redChestnut:        	#9a1a00 !default;
$redCrimson:        	#dc143c !default;
$redBrick:        		#b22222 !default;
$redWood:        		#ab4e52 !default;
$redRust:        		#b7410e !default;
$redWine:        		#722f37 !default;

// Brown
// -------------------------

$brownBeaver:        	#9f8170 !default;
$brownBistre:        	#3d2b1f !default;
$brownBole:        		#79443b !default;
$brownBronze:        	#cd7f32 !default;
$brownBurnt:        	#8a3324 !default;
$brownCamel:        	#c19a6b !default;
$brownChestnut:        	#954535 !default;
$brownChocolate:        #7b3f00 !default;
$brownCoffee:        	#6f4e37 !default;
$brownCopper:        	#b87333 !default;
$brownMahogany:        	#c04000 !default;
$brownSepia:        	#704214 !default;

// Yellow
// -------------------------

$yellowBuff:        	#f0dc82 !default;
$yellowGold:        	#ffd700 !default;
$yellowGoldmetal:       #d4af37 !default;
$yellowJasmine:        	#f8de7e !default;
$yellowMaize:        	#fbec5d !default;
$yellowSaffron:        	#f4c430 !default;
$yellowSunglow:        	#ffcc33 !default;
$yellowLight:        	#fdfc8f !default;

// Gray
// -------------------------

$grayAsh:        		#b2beb5 !default;
$grayBattleship:        #848482 !default;
$grayCadet:        		#91a3b0 !default;
$grayCharcoal:        	#36454f !default;
$grayCool:        		#8c92ac !default;
$grayGunmetal:        	#423732 !default;
$graySilver:        	#c0c0c0 !default;
$graySlate:        		#708090 !default;
$grayTaupe:        		#8b8589 !default;
$grayTimberwolf:        #dbd7d2 !default;

// Green
// -------------------------

$greenApple:        	#8db600 !default;
$greenAsparagus:        #7ba05b !default;
$greenOlive:        	#556b2f !default;
$greenFern:        		#4f7942 !default;
$greenForest:        	#228b22 !default;
$greenHunter:        	#355e3b !default;
$greenMint:        		#3eb489 !default;
$greenOffice:        	#008000 !default;
$greenSea:        		#2e8b57 !default;
$greenSpring:        	#a7fc00 !default;
$greenTeal:        		#008080 !default;

// Blue
// -------------------------

$blueAirforce:        	#5d8aa8 !default;
$blueAzure:        		#007fff !default;
$blueBaby:        		#89cff0 !default;
$blueFrench:        	#318ce7 !default;
$blueCeleste:        	#b2ffff !default;
$blueColumbia:        	#75b2dd !default;
$blueSky:        		#73c2fb !default;
$blueMidnight:        	#191970 !default;
$blueNavy:        		#000080 !default;
$blueRoyal:        		#4169e1 !default;
$blueSapphire:        	#0f52ba !default;
$blueSteel:        		#4682b4 !default;

// Purple
// -------------------------

$purpleAmethyst:        #9966cc !default;
$purpleCerise:        	#de3163 !default;
$purpleFandango:        #b53389 !default;
$purpleHeliotrope:      #df73ff !default;
$purpleLavendar:       	#b57edc !default;
$purpleMagenta:        	#ff0090 !default;
$purpleOrchid:        	#da70d6 !default;
$purplePlum:        	#8e4585 !default;






